ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fmListMovies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 50px;
    align-items: center;
    justify-items: center;
    grid-auto-rows: 500px;
    margin-top: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .fmListMovies {
        justify-items: flex-start;
    }
}
